/* 
* border radius
*/

.btn, .jumbotron, nav :hover{
    border-radius: 0px;
}

/* cart badge */

/* .cart-badge,
.cart-badge:hover {
    border-radius: 30%;
    padding: 5px;
    font-size: 12px;
    font-style: italic;
    background: rgb(66, 193, 252);
} */

.super-cart{
    border-radius: 50%;
    background-color: rgb(141, 141, 253);
    padding: 0 5px;
}

/**
 * single product page - product name
 */

 .name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/* 
* product image on card
*/
.product-img{
    height: 300px;;
}

.product-img >img{
 height: 100%;
 width: 100%;
}
.jumbotron h2{
    margin-top: -20px;
}

.card{
    height: 300px;
    width: 250px;
    margin-left: 21px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.card-header{
    background-color: #fde611;
}
.card-buttons{
    text-align: center;
    display: block;
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
    background-color: #f8e004;
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.card-buttons>button{
    background: transparent;
    border: 0px;
}

.card-body{
    padding: 0px;
    overflow: hidden;
    
}

.card-body:hover .product-img>img{
    opacity: 0.5;
}

.card-body:hover .card-buttons{
    top: 85%;
    left: 94%;
}

.fa-cart-plus, .fa-trash{
    margin-top: 8px;
    margin-left: -15px;
    color: white;
}
.fa-trash{
    color: red;
}

.qty .input-group{
    width: 125px;
}
.qty{
    position: absolute;
    bottom: 0%;
}

.cart-inline{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row{
    justify-content: center;
}

.jumbotron {
    width: 30wh;
    height: 30vh;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #f70289, #1d05f5, #04f825, #eb0404, #fde611);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 12s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 600px){
    .jumbotron h2{
        margin-top: 10px;
    }
}